bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
*.xpkg

#terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.terraform.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
